<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>








